*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.paper{
    height: 100px;
    width: 100px;
    border: 1px solid white;
    position: absolute;
}
.container{
    background-color: black;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}