*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.paper{
    height:150px;
    width: 400px;
    position: absolute;
    background-image: url('download\ \(1\).jpg');
    box-shadow: 1px 15px 20px 0px rgba(0 , 0 , 0 , 0.3);
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Zeyada', cursive;
    padding: 10px 10px 10px 10px;
    font-weight: 700;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.heading{
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Zeyada', cursive;
}
.container{
    background-image: url('4dc08b8c517bcada490162e00852390a.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}